body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#qrcode {
    width: 90vmin;
    height: 90vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

#qrcode img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
